<mat-nav-list>
    <div class="profile-card">
        <div class="header"></div>
        <h2>Amwata Albert</h2>
        <h4>albertotirno41@gmail.com</h4>
        <img src="https://c4.wallpaperflare.com/wallpaper/594/527/696/movies-joaquin-phoenix-joker-joker-2019-movie-men-hd-wallpaper-preview.jpg" alt="picture profile">
    </div>
    <mat-divider></mat-divider>
    <!-- <h2 matsubheader>pages</h2> -->
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="meals">Meal</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="Current">Current Orders</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="Customers">Customers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="order">Order Historys</a>
    <br>
    <mat-divider></mat-divider>
    <!-- <h2 matsubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
        <mat-icon>import_contacts</mat-icon>
        contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contact">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list> -->
