<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete items</title>
</head>
<body>
    <img src="https://images.unsplash.com/photo-1540189549336-e6e99c3679fe?ixlib=rb-1.2.1&w=1000&q=80" alt="">
    <div class="items">
        <ul>
        <li>food-item</li> <button (click)="delete()" type="submit">Delete Item</button>
        <li>food-item</li><button (click)="delete()" type="submit">Delete Item</button>
        <li>food-item</li><button (click)="delete()" type="submit">Delete Item</button>
        <li>food-item</li><button (click)="delete()" type="submit">Delete Item</button>
        <li>food-item</li><button (click)="delete()" type="submit">Delete Item</button>
        <li>food-item <button (click)="delete()" type="submit">Delete Item</button></li>
    </ul>
  
    
    </div>
    
</body>
</html>