#flipkart-navbar {
    background-color: brown;
    color: #FFFFFF;
}

.row2 {
    padding-bottom: 14px;
}

.flipkart-navbar-input {
    margin-top: 4%;
    padding: 8px;
    border-radius: 18px;
    border: 0 none;
    outline: 0 none;
    font-size: 12px;
}

.cart-button {
    background-color: brown;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
}

.cart-button:hover{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
}

.login{
    background-color: brown;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .23), inset 1px 1px 0 0 hsla(0, 0%, 100%, .2);
    padding: 10px 2;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 60px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    margin-left: 4px;
}

.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}



.links {
    color: #fff;
    text-decoration: none;
}

.links:hover {
    color: #fff;
    text-decoration: none;
}


.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}
.tt{
    font-family: 'Special Elite', cursive;
}

.ld{
    background-image: url(https://images.unsplash.com/photo-1549248287-f371a6246ea6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    height: 100vh;
}

.jumbotron{
    height: 100vh;
    background-color: rgba(195, 252, 252, 0.233);
}

#topic{
    
    /* background-image: url(./images/services.jpg); */
    background-image: url(/assets/images/foodback.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    width: 100%;
    align-items: center;
    position: relative;
    padding-bottom: 0;
    margin-top: 0;
}
#topic>h4{
           font-size: 72px;
           text-align: center;
           color: white;
           position: relative;
           top: 21%;
           font-family: 'Merriweather', serif; 
}