<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAST-FOOD-FAST</title>
</head>

<body>
    <header>
        
 
    </header>




    <main>
        <div id="flipkart-navbar">
            <div class="container">
                <div class="row row2">
                    <div class="col-sm-4"  style="margin-top: 2%;">
                        <h4 style="margin:0px;"><span class="smallnav menu" onclick="openNav()">☰ FAST-FOOD-FAST</span></h4>
                        <h4 class="tt"><span class="largenav">FAST-FOOD-FAST</span></h4>
                    </div>
                    <div class="flipkart-navbar-search smallsearch col-sm-4 col-xs-11">
                        <div class="row">
                            <input class="flipkart-navbar-input col-xs-4" type="" placeholder="Search for A Meal" name="">
                        </div>
                    </div>
                    <div class="cart largenav col-sm-2" style="margin-top: 1%;">
                        <a class="cart-button">
                            <svg class="cart-svg " width="16 " height="16 " viewBox="0 0 16 16 ">
                                <path d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86 " fill="#fff "></path>
                            </svg>
                            <span class="item-number ">0</span>
                        </a>
                    </div>
                    <div class="cart largenav col-sm-2" style="margin-top: 1%;">
                        <a href="/"><button class="login links">Login</button></a>
                        <a href="/"><button class="login links">Logout</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="topic">
            <h1>Current Orders</h1>
        </div>
        <div id="services">
            <div class="column">


                <div>
                    <img src="/assets/images/cakes.jpeg" alt="maternity care">
                    <h2>Yummy Cakes</h2>
                    <p>
                        Use milk, buttermilk or even coconut milk instead of water to make your cake mix a little richer. 
                        It makes for a denser, more homemade taste and texture!
                    </p>

                </div>

                <div>
                    <img src="/assets/images/cake4.jpg" alt="pediatrics">
                    <h2>Delicious</h2>
                    <p>
                       Cake is a form of sweet dessert that is typically baked.
                    </p>

                </div>
                 
                <div>
                    <img src="/assets/images/food1.jpg" alt="dental care">
                    <h2>Cupcakes</h2>
                    <p>
                        For sweet Cupcakes deliveries and orders are available.
                    </p>

                </div>

                <div>
                    <img src="/assets/images/food2.jpg" alt="general practition">
                    <h2>General Meal</h2>
                    <p>
                        General Meals to order.

                    </p>

                </div>
            </div>
            <br>
            <div class="column">
                <div>
                    <img src="assets/images/food3.jpg" alt="mental health">
                    <h2>Ingredients</h2>
                    <p>
                        You can check on Ingredients of certain Meals.
                    </p>

                </div>

                <div>
                    <img src="/assets/images/food5.jpg" alt="pharmacy">
                    <h2>Soup</h2>
                    <p>
                        We also have soup for those who like it you can make your orders.

                    </p>

                </div>

                <div>
                    <img src="./assets/images/grocer.jpeg" alt="surgery kenya">
                    <h2>Groceries</h2>
                    <p>
                        Groceries are also available in high quantites.

                </div>

                <div>

                    <img src="/assets/images/images.jpeg" alt="emergency">
                    <h2>PIzza</h2>
                    <p>
                        Pizza Perronni and many more.
                    </p>

                </div>

            </div>


        </div>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <legend>Orders</legend>
                    <div *ngFor='let orders of _orderService.orders,let i=index' class="col-md-6">
                        <div class="card border-danger mb-3">
                            <div class="card-header bg-transparent border-danger">order_id: {{orders.quantity}}</div>
                            <div class="card-body text-danger">
                              <p class="card-text">Quality: {{orders.amount}}</p>
                            </div>
                            <div class="card-footer bg-transparent border-danger">Status: {{orders.status}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div id=icons>
            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href="https://ke.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            <p>&copy; 2020 copyright: <a href="https://www.instagram.com/" target="_blank">FAST-FOOD-FAST</a></p>
        </div>
    </footer>
</body>

</html>
