
  <div class="landing">
    <div class="container">
    <h1 class="text-white title">What Are You Having Today</h1>

 <div class="jumbotron">
   <div> 
  <h4  class="text">Your Name:______________________________</h4>
  <h4  class="text">Phone__________________________________</h4>
  <h4  class="text">e-mail:_________________________________</h4>
  <h4  class="text">Time of Pick-up:_______________________</h4>
  <h4  class="text">Today's Date:________________________</h4>
 </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr> 
            <th scope="col">#</th>
            <th scope="col">Food Item As Listed On Menu</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Special Requests</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ugali & Fish</td>
            <td>medium</td>
            <td>2pieces</td>
            <td></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Pizza</td>
            <td>large</td>
            <td>2packs</td>
            <td>2litre Soda</td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Wine</td>
            <td>small</td>
            <td>three</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
    <button class="button">Make Order</button>
    <button class="button">Cancel Order</button>
  </div>
  </div>
  </div>
</div>