  <div class="landing">
    <div class="container">
    <h1 class="text">Your Order</h1>

 <div class="jumbotron">
      <div>
      <table class="table table-bordered">
        <thead>
          <tr> 
            <th scope="col">#</th>
            <th scope="col">Food</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Status</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Pizza</td>
            <td>800</td>
            <td>1</td>
            <td><button class="cancel">Cancel Order</button></td>

          </tr>
      
        </tbody>
      </table>
      <!-- Material column sizing form -->
<form>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-7">
      <!-- Material input -->
      <div class="md-form">
        <input mdbInput type="text" class="form-control" placeholder="Address">
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col">
      <!-- Material input -->
      <div class="md-form">
        <input mdbInput type="number" class="form-control" placeholder="Contact">
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col">
      <!-- Material input -->
      <div class="md-form">
        <input mdbInput type="number" class="form-control" placeholder="Zip">
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</form>
<!-- Material column sizing form -->
    </div>
    <div>
   <button class="button">CHECKOUT</button>
  </div>
  </div>
  </div>
</div>
