
  <div class="landing">
    <div class="container">
    <h1 class="text">What Are You Having Today</h1>

 <div class="jumbotron">
      <div>
      <table class="table table-bordered">
        <thead>
          <tr> 
            <th scope="col">#</th>
            <th scope="col">Food Item As Listed On Menu</th>
            <th scope="col">Size</th>
            <th scope="col">Quantity</th>
            <th scope="col">Special Requests</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Ugali & Fish</td>
            <td>medium</td>
            <td>2pieces</td>
            <td></td>

          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Pizza</td>
            <td>large</td>
            <td>2packs</td>
            <td>2litre Soda</td>

          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Wine</td>
            <td>small</td>
            <td>three</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
   <button class="button">ADD TO CART</button>
  </div>
  </div>
  </div>
</div>