.landing{
    background-image: url(https://c8.alamy.com/comp/JGKCRN/asian-food-served-on-old-wooden-table-top-view-space-for-text-chinese-JGKCRN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.button{
    border-radius: 20%;
    padding-left: 10px;    padding-left: 10px;

    background-color: rgb(235, 88, 20);
}
.title{
    font-weight: 900;
}

.thin {
    width: 20px;
}
.text{
    font-size: 20px;
}
.jumbotron{
    width: 50%;
}