<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>               
</head>
<body>
<div class="container">
	<div>
		<div class="card">
			<div class="card-header">
				<p *ngFor='let err of _registerService.errors'>Invalid credentials</p>
				<h3>FAST FOOD SIGN IN</h3>
			</div>
			<div class="card-body">
				<div *ngIf="!_registerService.token">
					<form class="form-signin" method="POST">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" [(ngModel)]="user.email" name="login-email" class="form-control" placeholder="email" required>
							<span *ngFor="let error of _registerService.errors.email"><br />
								{{ error }}</span>
							
						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="login-password" [(ngModel)]="user.password" id="inputPassword" class="form-control" placeholder="password" required>
						</div>
						<div class="row align-items-center remember">
							<input type="checkbox">Remember Me
						</div>
						<div class="form-group">
							<button (click)="login()" type="button" class="btn float-right login_btn">Login</button>
						</div>
					</form>
				</div>
			</div>
			<div class="card-footer">

				<div class="row" *ngIf="_registerService.token">
					<div class="col-sm-12 details">You are logged in as {{ _registerService.user_id }}.<br />
					  Token Expires: {{ _registerService.token_expires }}<br />
					  <button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>
					  <button class="bt" (click)="logout()" class="btn btn-primary">Log Out</button>
					</div>
				</div>

				<div class="d-flex justify-content-center links">
					Don't have an account?<a id="link" routerLink="/register">Sign Up</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>