<div class="container-fluid">
    <div class="container">
        <div class="row">
            <legend>CUSTOMERS</legend>
            <div *ngFor='let customer of _customerService.customers,let i=index' class="col-md-6">
                <div class="card border-danger mb-3">
                    <div class="card-header bg-transparent border-danger">Name: {{customer.name}}</div>
                    <div class="card-body text-danger">
                      <p class="card-text">Email: {{customer.email}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-danger">Contact: {{customer.contact}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
